.App {
    align-content: center;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.App > section {
    order: 1;
    flex-grow: 1;
    animation-name: flyInFromLeft;
    animation-duration: 1s;
}

@keyframes flyInFromLeft {
    0% {
        transform: translateX(-100vw);
    }
    100% {
        transform: translateX(0);
    }
}

.App > nav {
    order: 2;
    width: 100px;
    height: 100vh;
    flex-grow: 0;
    animation-name: flyInFromRight100px;
    animation-duration: 1.8s;
}

@keyframes flyInFromRight100px {
    0% {
        transform: translateX(100px);
    }
    50% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0);
    }
}

body.ModalVisible .App {
    filter: blur(10px) grayscale(100%);
}

.Modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    left: 0;
    top: 0;
    visibility: hidden;
}

body.ModalVisible .Modal {
    visibility: visible;
}

.ModalContent {
    padding: 20px;
    width: 70%;
    max-width: 500px;
    height: 70%;
    background-color: #cbcbcb;
    border-radius: 5%;
    border: 2px solid #808080;
    transform: scale(0);
    transition: transform 1s;
    overflow: hidden;
}

body.ModalVisible .ModalContent {
    transform: scale(1);
}

.ModalContent > button {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 1.5em;
}

.ModalContent > button:focus {

}

@media only screen and (max-width: 700px) {
    .App {
        flex-direction: column;
    }

    .App > section {
        order: 2;
    }

    .App > nav {
        order: 1;
        width: 100vw;
        height: 100px;
        animation-name: flyInFromTop100px;
        animation-duration: 1.8s;
    }

    @keyframes flyInFromTop100px {
        0% {
            transform: translateY(-100px);
        }
        50% {
            transform: translateY(-100px);
        }
        100% {
            transform: translateY(0);
        }
    }
}