.Square {
    width: 12.5%;
    height: 12.5%;
    border: solid black 1px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MoveSquare {
    background-color: blue;
}

.MoveSquare:hover {
    background-color: darkblue;
}

.ToReverseSquare {
    background-color: aqua;
}

.Piece {
    height: 90%;
    width: 90%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}