.Square {
    width: 100%;
    height: 100%;
    border: solid black 1px;
    text-align: center;
}

.SquareContainer {
    height: 100%;
    width: 12.5%;
    display: inline-block;
}

.Piece {
    height: 90%;
    width: 90%;
    transform: translateY(5%);
}