
.NewGame form {
    max-width: 250px;
    position: relative;
    margin: 50px auto 0;
    font-size: 15px;
}

.NewGame .FormSection {
    margin-bottom: 20px;
}

.NewGame label, .NewGame input[type="submit"], .NewGame input[type='text'] {
    position: relative;
    display: block;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 5px;
}

.NewGame label {
    background-color: #fee8c3;
    border: 2px solid #fdd591;
    cursor: pointer;
}

.NewGame input[type="radio"] {
    display: none;
}

.NewGame input[type="radio"]:checked + label {
    background-color: #fdcb77;
    animation-name: fadeIn;
    animation-duration: 800ms;
    border-color: #fcae2c;
}

.NewGame input[type="submit"] {
    background-color: #fcae2c;
    border: none;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.NewGame input[type='text'] {
    border: 2px solid #fdd591;
    background-color: #fee8c3;
    margin-left: auto;
    margin-right: auto;
}

.NewGame input[type='text']:valid {
    border: 2px solid #20fd18;
    background-color: #acfca3;
}

.NewGame input[type='text']:focus {
    outline: none;
}

.NewGame svg {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 1px dotted black;
}

.DnD {
    height: 70px;
    border-radius: 50px;
    border: 2px dotted #a0a0a0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.DnD + p {
    visibility: hidden;
    height: 0;
    cursor: text;
}

.DnD:hover + p {
    visibility: visible;
    height: 60px;
    animation-duration: 0.5s;
    animation-name: height60px;
}

svg + p {
    height: 0;
    visibility: hidden;
    cursor: text;
}

svg:hover + p {
    height: 90px;
    visibility: visible;
    animation-duration: 0.5s;
    animation-name: height90px;
}

@keyframes height60px {
    0% {
        height: 0;
        transform: scale(0);
    }
    100% {
        height: 60px;
        transform: scale(1);
    }
}

@keyframes height90px {
    0% {
        height: 0;
        transform: scale(0);
    }
    100% {
        height: 90px;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% {
        background-color: #fee8c3;
        border-color: #fdd591;
    }
    100% {
        background-color: #fdcb77;
        border-color: #fcae2c;
    }
}
