
.NewGame form {
    max-width: 250px;
    position: relative;
    margin: 50px auto 0;
    font-size: 15px;
}

.NewGame .FormSection {
    margin-bottom: 20px;
}

.NewGame label, .NewGame input[type="submit"] {
    position: relative;
    display: block;
    color: #444;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 5px;
    cursor: pointer;
}

.NewGame label {
    background-color: #fee8c3;
    border: 2px solid #fdd591;
}

.NewGame input[type="radio"] {
    display: none;
}

.NewGame input[type="radio"]:checked + label {
    background-color: #fdcb77;
    animation-name: fadeIn;
    animation-duration: 800ms;
    border-color: #fcae2c;
}

.NewGame input[type="submit"] {
    background-color: #fcae2c;
    border: none;
    margin-left: auto;
    margin-right: auto;
}

.DnD {
    height:70px;
    border-radius: 50px;
    border: 2px dotted #a0a0a0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes fadeIn {
    0% {
        background-color: #fee8c3;
        border-color: #fdd591;
    }
    100% {
        background-color: #fdcb77;
        border-color: #fcae2c;
    }
}
